.header {
  background-color: #137a7f;
  position: fixed;
  background: linear-gradient(to left, #148c92 , #0f6f74); 
  width: 100%;
  top: 0;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 30px 0 rgba(0, 0, 0, 0.19);
}

.nav {
  font-family: "Comic Sans MS";
}

.navbar-right ul {
  margin: 2px;
  padding: 2px;
  overflow: hidden;
  list-style-type: none;
}

.navbar-right li {
  float: left;
}

.nav-options {
  display: inline-block;
}

.nav-option {
  padding: 16px;
}

.nav-option:hover {
  background-color: #118a90;
}

.small-label {
  font-size: 12px;
}

a {
  color: #bec8d1;
  font-size: 18px;
  text-decoration: none;
}

/*here is the body and stuff

i want death*/

.form button {
  background-color: #373b3e; 
  border: none;
  color: #bec8d1;
  display: inline-block;
  padding: 15px 32px;
  font-size: 20px;
  text-align: center;
}

.form button:hover {
  background-color: #464a4d;
}

.center {
  text-align: center;
}

.title {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#soundupload, #arrive, #stolen {
  display: none;
}

/* these are really dumb formatters */
.margin-up {
  margin-top: 75px;
}

.margin-left{
  margin-left: 75px;
}

.small-margin{
  margin: 2px;
}

/* default stuff lol*/
body {
  background-color: #e1f4f1;
  padding-top: 100px;
  margin: 0;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 3px solid #137a7f;
  border-radius: 1em;
}

label {
  display: inline-block;
  text-align: right;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 20px;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  text-align: right;
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}

p {
  font-size: 12px;
  padding: 0;
  margin: 0;
}